.error-background-desktop {
    background-image: url(../../../shared-ui/images/error-desktop-background.svg);
    background-size: cover; 
    height: 100vh;
  }
  
  .error-background-mobile {
    background-image: url(../../../shared-ui/images/error-mobile-background.svg);
    background-size: cover;
    height: 100vh;
  }

